.zo-picker {
  height: 100%;
  &__hd {
    display: flex;
    padding: 15Px;/*no*/
    position: relative;
    text-align: center;
    font-size: 14Px;/*no*/
    &__action {
      display: block;
      flex: 1;
      color: #32B16F;
      &:first-child {
        text-align: left;
        color: #888;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  &__title {
    font-size:16Px;/*no*/
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:16Px;/*no*/
  }
}
.zo-picker__bd {
  padding: 0 15Px;/*no*/
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden;
  height: 168Px;/*no*/
  &__desc {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -14Px;/*no*/
    margin-left: -10Px;/*no*/
    text-align: center;
    width:20Px;/*no*/
    height:28Px;/*no*/
    font-size:20Px;/*no*/
    font-weight:600;
    color:rgba(0,0,0,1);
    line-height:28Px;/*no*/
  }
}

